{% extends "layouts/base.html" %} {% load poll_extras %}


{% block title %} Dashboard {% endblock %}


{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<div class="row">
    <div class="col-xl-12 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div id="ventasAnuales"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div id="ventasClasificacion"></div>
                Borrar: <small>Ventas por clasificacion</small>
            </div>
            <div class="card-footer text-center">
                Total de ventas: <strong>$</strong>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div id="ventasSegmento"></div>
                Borrar: <small>Ventas por segmento</small>
            </div>
            <div class="card-footer text-center">
                Total de ventas: <strong>$</strong>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div id="comisionesVendedor"></div>
                Borrar: <small>Comisiones por vendedor</small>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div id="ventasVendedor"></div>
                Borrar: <small>Ventas por vendedor</small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block javascripts %}
<script>
    // ? Ventas Anuales Grafica de puntos (HighCharts)
    Highcharts.chart('ventasAnuales', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Ventas por mes del año {% now "Y" %}'
        },
        xAxis: {
            categories: [{% for venta in ventas_anuales %} '{{venta.mes|month_name}}', {% endfor %}]
        },
        yAxis: {
            title: {
                text: 'Total en $MXN'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '{% now "Y" %}',
            data: [{% for venta in ventas_anuales %} {{venta.total}}, {% endfor %}]
        }]
    });
</script>
{% endblock javascripts %}