{% extends "layouts/base.html" %} {% load poll_extras %}


{% block title %} Dashboard {% endblock %}


{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<div class="row">
    <div class="col-xl-6 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-header d-sm-flex flex-row align-items-center flex-0 justify-content-center">
                <h4>Ventas Anuales</h4>
            </div>
            <div class="card-body">
                <canvas id="ventasAnuales"></canvas>
            </div>
        </div>
    </div>
    <!-- <div class="col-xl-6 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-header d-sm-flex flex-row align-items-center flex-0 justify-content-center">
                <h4>Ventas Anuales 2</h4>
            </div>
            <div class="card-body">
                <canvas id="ventasAnuales2"></canvas>
            </div>
        </div>
    </div> -->
</div>
{% endblock content %}


{% block javascripts %}
<script>
    // ? Ventas Anuales Grafica de puntos
    const vACtx = document.getElementById('ventasAnuales').getContext('2d');
    const ventasAnuales = new Chart(vACtx, {
        type: 'line',
        data: {
            labels: [{% for venta in ventas %} '{{venta.month|month_name}}', {% endfor %}],
            datasets: [{
                label: 'Ventas por mes del año {% now "Y" %}',
                data: [{% for venta in ventas %} {{venta.total}}, {% endfor %}],
                fill: false,
                borderColor: 'rgb(54, 162, 235)',
                borderWidth: 4,
                tension: 0
            }]
        },
    });
</script>
{% endblock javascripts %}