{% extends "layouts/base.html" %} {% load poll_extras %}


{% block title %} <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
    <span class="mb-0 font-small fw-bold text-gray-900">
      Bienvenido: <strong>{{ request.user.username }}</strong>
    </span>
  </div>
 {% endblock %}


{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<div class="row">
    <div class="col-xl-12 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div id="ventasAnuales"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div id="ventasClasificacion"></div>
            </div>
            <div class="card-footer text-center">
                Se efectuaron: <b>{{total_ventas_clasificacion.cantidad}}</b> ventas con un total de <b>${{total_ventas_clasificacion.total}}</b> USD
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div id="ventasSegmento"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div id="ventasVendedor"></div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block javascripts %}
<script>
    // Ventas Anuales
    Highcharts.chart('ventasAnuales', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Ventas por mes del año {% now "Y" %}'
        },
        xAxis: {
            categories: [{% for venta in ventas_anuales %} '{{venta.mes|month_name}}', {% endfor %}]
        },
        yAxis: {
            title: {
                text: 'Total en $USD'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '{% now "Y" %}',
            data: [{% for venta in ventas_anuales %} {{venta.total}}, {% endfor %}]
        }]
    });

    // Ventas por clasificación
    Highcharts.chart('ventasClasificacion', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Ventas por clasificación'
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                'Ventas: <b>{point.z}</b><br/>' +
                'Total (USD): <b>${point.y}</b><br/>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Total',
            colorByPoint: true,
            data: [{% for venta in ventas_clasificacion %}{
                name: '{{venta.clasificacion}}',
                y: {{venta.total}},
                z: {{venta.cantidad}}
            }, {% endfor %}]
        }]
    });

    // Ventas por segmento
    Highcharts.chart('ventasSegmento', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Ventas por segmento'
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                'Ventas: <b>{point.z}</b><br/>' +
                'Total (USD): <b>${point.y}</b><br/>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true
                },
                showInLegend: false
            }
        },
        series: [{
            name: 'Total',
            colorByPoint: true,
            data: [
                {% for venta in ventas_segmento %}{
                    name: '{{venta.segmento}}',
                    y: {{venta.total}},
                    z: {{venta.cantidad}}
                }, {% endfor %}
            ]
        }]
    });

    // Ventas por vendedor
    Highcharts.chart('ventasVendedor', {
        chart: {
            type: 'column'
        },
        title: {
            align: 'center',
            text: 'Ventas por vendedor'
        },
        xAxis: {
            categories: [
                {% for venta in ventas_vendedor %}'{{venta.venta__agente|agente_name}}', {% endfor %}
            ],
            crosshair: true,
            type: 'Vendedores'
        },
        yAxis: {
            title: {
                text: 'Total de ventas en USD'
            }
    
        },
        legend: {
            enabled: true
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '${point.y:.3f}'
                }
            }
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                'Ventas: <b>{point.z}</b><br/>' +
                'Total (USD): <b>${point.y}</b><br/>'
        },
        series: [
            {
                name: "Vendedor",
                colorByPoint: true,
                data: [ 
                    {% for venta in ventas_vendedor %}{
                        name: "{{venta.venta__agente|agente_name}}",
                        y: {{venta.total}},
                        z: {{venta.cantidad}}
                    }, {% endfor %}
                ]
            }
        ],
    });
</script>
{% endblock javascripts %}