{% extends "layouts/base-fullscreen.html" %}

{% load static %}

{% block title %} Restablecer contraseña {% endblock %}


{% block stylesheets %}{% endblock stylesheets %}   

{% block content %}
<h4 class="mt-20">Restablecimiento de contraseña</h4>
{% if validlink %}

<form method="post" class="mt-4">
    {% csrf_token %}
    <!-- Nueva contraseña -->
    <div class="form-group mt-50">
        <label>Nueva contraseña</label>
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
        <ul>
            {% for error in form.new_password1.errors %}
            <li class="text-danger">{{ error|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!-- ./Nueva contraseña -->

    <!-- Confirmar nueva contraseña -->
    <div class="form-group mt-50">
        <label>Confirmar contraseña</label>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
        <ul>
            {% for error in form.new_password2.errors %}
            <li class="text-danger">{{ error|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!-- ./Confirmar nueva contraseña -->

    <button type="submit" name="login" class="btn-block btn btn-gray mt-20">Cambiar contraseña</button>
</form>

{% else %}
<h4 class="text-danger mt-50">ENLACE INVALIDO. ESTE ENLACE YA HA SIDO UTILIZADO ANTERIORMENTE</h4>
<div class="d-flex justify-content-center align-items-center mt-20">
    <span>
        <a href="{% url 'login' %}" class="text-bold text-info">Volver al inicio de sesión</a>
    </span>
</div>

<div class="d-flex justify-content-center align-items-center mt-20">
    <span>
        <a href="{% url 'index' %}" class="text-bold text-info mt-20">
            <i class="fa fa-arrow-circle-left text-info"></i>
            Regresar al inicio
        </a>
    </span>
</div>
{% endif %}



{% endblock content %}


{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#id_new_password1').attr('placeholder', 'Nueva contraseña', 'class', 'form-control');
        $('#id_new_password1').attr('class', 'form-control');
        $('#id_new_password2').attr('placeholder', 'Confirmar contraseña', 'class', 'form-control');
        $('#id_new_password2').attr('class', 'form-control');
    });
</script>

{% endblock javascripts %}