<div class="modal-header">
    <h4 class="modal-title w-100 text-center text-uppercase">Detalles de la venta</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card">
    <div class="card-body">
        <form method="POST" action="detalles">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.cliente.label_tag }}
                        {{ form.cliente }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.segmento.label_tag }}
                        {{ form.segmento }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.estados.label_tag }}
                        {{ form.estados }}
                    </div>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="from-group">
                    {{ form.agente.label_tag }}
                    {{ form.agente }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{form.cotizacion.label_tag}}
                        {{form.cotizacion}}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form.descripcion.label_tag }}
                        {{ form.descripcion }}
                    </div>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="from-group">
                        {{ form.orden_compra.label_tag }}
                        {{ form.orden_compra }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                    {{ form.fecha_orden_compra.label_tag }}
                    {{ form.fecha_orden_compra }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.clasificacion.label_tag }}
                        {{ form.clasificacion }}
                    </div>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                    {{ form2.comision.label_tag }}
                    {{ form2.comision }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form2.factura.label_tag }}
                        {{ form2.factura }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form2.fecha_factura.label_tag }}
                        {{ form2.fecha_factura }}
                    </div>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                    {{ form2.monto_USD.label_tag }}
                    {{ form2.monto_USD }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form2.monto_MN.label_tag }}
                        {{ form2.monto_MN }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form2.incentivo.label_tag }}
                        {{ form2.incentivo }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form2.tipo_cambio_factura.label_tag }}
                        {{ form2.tipo_cambio_factura }}
                    </div>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form2.tipo_cambio_oc.label_tag }}
                        {{ form2.tipo_cambio_oc }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form2.importe_USD.label_tag }}
                        {{ form2.importe_USD }}
                    </div>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>

            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#edit').click(function () {
            $('#save').show();
            $('#cancel_form').show();
            $('#edit').hide();
            $('#id_cliente').prop('disabled', false);
            $('#id_segmento').prop('disabled', false);
            $('#id_estados').prop('disabled', false);
            $('#id_agente').prop('disabled', false);
            $('#id_cotizacion').prop('disabled', false);
            $('#id_descripcion').prop('disabled', false);
            $('#id_orden_compra').prop('disabled', false);
            $('#id_fecha_orden_compra').prop('disabled', false);
            $('#id_clasificacion').prop('disabled', false);
            $('#id_comision').prop('disabled', false);
            $('#id_factura').prop('disabled', false);
            $('#id_fecha_factura').prop('disabled', false);
            $('#id_monto_USD').prop('disabled', false);
            $('#id_monto_MN').prop('disabled', false);
            $('#id_incentivo').prop('disabled', false);
            $('#id_tipo_cambio_factura').prop('disabled', false);
            $('#id_tipo_cambio_oc').prop('disabled', false);
            $('#id_importe_USD').prop('disabled', false);
        });
        $('#cancel_form').click(function () {
            $('#save').hide();
            $('#cancel_form').hide();
            $('#edit').show();
            $('#id_cliente').prop('disabled', true);
            $('#id_segmento').prop('disabled', true);
            $('#id_estados').prop('disabled', true);
            $('#id_agente').prop('disabled', true);
            $('#id_cotizacion').prop('disabled', true);
            $('#id_descripcion').prop('disabled', true);
            $('#id_orden_compra').prop('disabled', true);
            $('#id_fecha_orden_compra').prop('disabled', true);
            $('#id_clasificacion').prop('disabled', true);
            $('#id_comision').prop('disabled', true);
            $('#id_factura').prop('disabled', true);
            $('#id_fecha_factura').prop('disabled', true);
            $('#id_monto_USD').prop('disabled', true);
            $('#id_monto_MN').prop('disabled', true);
            $('#id_incentivo').prop('disabled', true);
            $('#id_tipo_cambio_factura').prop('disabled', true);
            $('#id_tipo_cambio_oc').prop('disabled', true);
            $('#id_importe_USD').prop('disabled', true);
        });

    });

</script>