<form action="{% url 'cargar_factura' id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title w-100 text-center text-uppercase" id="exampleModalLabel">Cargar Factura</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <form method="POST" action="{% url 'cargar_factura' id %}" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-6 border_color_design d-flex justify-content-center flex-column">
                        <label>
                            Cargar Factura
                            <input id="factura" name="factura" class="form-control"  type="file" 
                                size="10">
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Subir</button>
    </div>
</form>