{% extends "layouts/base.html" %} {% load static %}

{% block title %}Datos personales{% endblock title %}

{% block breadcrumb %}
{% if exist_data %}
<a href="{% url 'actualizar_datos_personales' %}" class="btn btn-warning float-end">
    <i class="fas fa-edit"></i>
    Actualizar datos
</a>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
<form action="{% url 'datos_personales' %}" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Guardar" class="btn btn-primary">
</form>
{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#id_genero').select2();
        $('#id_estado_civil').select2();
        $('#id_grado_estudio').select2();
        $('#id_colonia').select2();
        $('#id_municipio').select2();
        $('#id_estado').select2();
        $('#id_pais').select2();
    });
</script>
{% endblock javascripts %}