{% extends "layouts/base.html" %} {% load static %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded text-center" id="datatable">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">#</th>
                        <th class="border-0">Username</th>
                        <th class="border-0">Nombre</th>
                        <th class="border-0">Ultimo inicio de sesion</th>
                        <th class="border-0 roundend-end">Fecha de creacion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td class="text-primary fw-bold">{{ forloop.counter }}</td>
                        <td>{{ usuario.username}}</td>
                        <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                        <td>{{ usuario.last_login|default_if_none:'No ha iniciado sesion' }}</td>
                        <td>{{ usuario.date_joined }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}


{% block javascripts %}{% endblock javascripts %}