{% extends "layouts/base.html" %} {% load static %}


{% block title %}Detalles de la venta con orden de compra <b>{{ form.orden_compra.value }}</b>{% endblock title %}


{% block breadcrumb %}
<a href="{% url 'ventas'%}" class="btn btn-primary float-end">Regresar</a>
{% endblock breadcrumb %}


{% block content %}
<div class="card border-0 shadow">
    <form method="POST" action="{% url 'detalles' id %}">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 mb-4">
                    {{ form.cliente.label_tag }}
                    {{ form.cliente }}
                    {% if form.cliente.errors %}
                    <ul>
                        {% for error in form.cliente.errors %}
                        <li>{{ error|safe }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-md-3 mb-4">
                    {{ form.agente.label_tag }}
                    {{ form.agente }}
                    {% if form.agente.errors %}
                    <ul>
                        {% for error in form.agente.errors %}
                        <li>{{ error|safe }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-md-2 mb-4">
                    {{ form.cotizacion.label_tag }}
                    {{ form.cotizacion }}
                    {% if form.cotizacion.errors %}
                    <ul>
                        {% for error in form.cotizacion.errors %}
                        <li>{{ error|safe }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-md-2 mb-4">
                    {{ form.orden_compra.label_tag }}
                    {{ form.orden_compra }}
                    {% if form.orden_compra.errors %}
                    <ul>
                        {% for error in form.orden_compra.errors %}
                        <li>{{ error|safe }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-md-2 mb-4">
                    {{ form.fecha_orden_compra.label_tag }}
                    {{ form.fecha_orden_compra }}
                    {% if form.fecha_orden_compra.errors %}
                    <ul>
                        {% for error in form.fecha_orden_compra.errors %}
                        <li>{{ error|safe }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-md-4 mb-4">
                    {{ form.segmento.label_tag }}
                    {{ form.segmento }}
                    {% if form.segmento.errors %}
                    <ul>
                        {% for error in form.segmento.errors %}
                        <li>{{ error|safe }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-md-4 mb-4">
                    {{ form.clasificacion.label_tag }}
                    {{ form.clasificacion }}
                    {% if form.clasificacion.errors %}
                    <ul>
                        {% for error in form.clasificacion.errors %}
                        <li>{{ error|safe }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-md-4 mb-4">
                    {{ form.estado.label_tag }}
                    {{ form.estado }}
                    {% if form.estado.errors %}
                    <ul>
                        {% for error in form.estado.errors %}
                        <li>{{ error|safe }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col">
                    {{ form.descripcion.label_tag }}
                    {{ form.descripcion }}
                    {% if form.descripcion.errors %}
                    <ul>
                        {% for error in form.descripcion.errors %}
                        <li>{{ error|safe }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button id="cancel-sales-details-edit" type="button" class="btn btn-danger" hidden>Cancelar</button>
            <button id="save-sales-details-edit" type="submit" class="btn btn-success" hidden>Guardar</button>
            <button id="edit-sales-details" type="button" class="btn btn-secondary">Editar</button>
        </div>
    </form>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    function disabledForm() {
        $('#cancel-sales-details-edit').prop('hidden', true);
        $('#save-sales-details-edit').prop('hidden', true);
        $('#edit-sales-details').prop('hidden', false);
        $('#id_cliente').prop('disabled', true);
        $('#id_segmento').prop('disabled', true);
        $('#id_estado').prop('disabled', true);
        $('#id_agente').prop('disabled', true);
        $('#id_cotizacion').prop('disabled', true);
        $('#id_descripcion').prop('disabled', true);
        $('#id_orden_compra').prop('disabled', true);
        $('#id_fecha_orden_compra').prop('disabled', true);
        $('#id_clasificacion').prop('disabled', true);
    }

    $(document).ready(function () {
        disabledForm();
        $('#edit-sales-details').click(function () {
            $('#cancel-sales-details-edit').prop('hidden', false);
            $('#save-sales-details-edit').prop('hidden', false);
            $('#edit-sales-details').prop('hidden', true);
            $('#id_cliente').prop('disabled', false);
            $('#id_segmento').prop('disabled', false);
            $('#id_estado').prop('disabled', false);
            $('#id_agente').prop('disabled', false);
            $('#id_cotizacion').prop('disabled', false);
            $('#id_descripcion').prop('disabled', false);
            $('#id_orden_compra').prop('disabled', false);
            $('#id_fecha_orden_compra').prop('disabled', false);
            $('#id_clasificacion').prop('disabled', false);
        });
        $('#cancel-sales-details-edit').click(function () {
            disabledForm();
        });
    });
</script>
{% endblock javascripts %}