{% extends "layouts/base.html" %} {% load static %}

{% block title %}Registrar venta{% endblock %}

{% block breadcrumb %}
<a href="{% url 'ventas'%}" class="btn btn-primary float-end">Regresar</a>
{% endblock breadcrumb %}

{% block content %}
<div class="card">
    <form method="POST" id="form">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.cliente.label_tag }}
                        {{ form.cliente }}
                        {% if form.cliente.errors %}
                        <ul>
                            {% for error in form.cliente.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.segmento.label_tag }}
                        {{ form.segmento }}
                        {% if form.segmento.errors %}
                        <ul>
                            {% for error in form.segmento.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.estados.label_tag }}
                        {{ form.estados }}
                        {% if form.estados.errors %}
                        <ul>
                            {% for error in form.estados.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="from-group">
                        {{ form.agente.label_tag }}
                        {{ form.agente }}
                        {% if form.agente.errors %}
                        <ul>
                            {% for error in form.agente.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{form.cotizacion.label_tag}}
                        {{form.cotizacion}}
                        {% if form.cotizacion.errors %}
                        <ul>
                            {% for error in form.cotizacion.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form.descripcion.label_tag }}
                        {{ form.descripcion }}
                        {% if form.descripcion.errors %}
                        <ul>
                            {% for error in form.descripcion.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="from-group">
                        {{ form.orden_compra.label_tag }}
                        {{ form.orden_compra }}
                        {% if form.orden_compra.errors %}
                        <ul>
                            {% for error in form.orden_compra.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.fecha_orden_compra.label_tag }}
                        {{ form.fecha_orden_compra }}
                        {% if form.fecha_orden_compra.errors %}
                        <ul>
                            {% for error in form.fecha_orden_compra.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.clasificacion.label_tag }}
                        {{ form.clasificacion }}
                        {% if form.clasificacion.errors %}
                        <ul>
                            {% for error in form.clasificacion.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success" value="save" style="display: block; margin: 0 auto;">
                Guardar</button>
        </div>
    </form>
</div>

<script>

</script>
{%endblock content%}