{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Ventas - Registro{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="header">
            <h3 class="text-center">Agregar Ventas</h3>
        </div>
        <form action="">
            <div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="agente">Agente</label>
                        <input type="text" class="form-control" id="agente" name="agente" placeholder="Agente">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cliente">Cliente</label>
                        <input type="text" class="form-control" id="cliente" name="cliente" placeholder="Cliente">
                    </div>
                </div>
                <div>
                    <br>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="des">Descripción</label>
                        <textarea class="form-control" id="des" name="des" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="po">P.O</label>
                        <input type="text" class="form-control" id="po" name="po" placeholder="P.O.">
                    </div>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fechapo">Fecha P.O </label>
                        <input type="date" class="form-control" id="fechapo" name="fechapo" placeholder="Fecha P.O">
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fechaent">Fecha ent P.O</label>
                        <input type="date" class="form-control" id="fechaent" name="fechaent"
                            placeholder="Fecha ent P.O">
                    </div>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="importe">Importe</label>
                        <input type="text" class="form-control" id="importe" name="importe" placeholder="Importe">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="moneda">Moneda</label>
                        <select class="form-control" id="moneda" name="moneda">
                            <option value="MXN">MXN</option>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="ot">others</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fechaentcot">Tipo de cambio</label>
                        <input type="text" class="form-control" id="tipocambio" name="tipocambio"
                            placeholder="Tipo de cambio">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="dolar">Importe en dólares</label>
                        <input type="text" class="form-control" id="dolar" name="dolar"
                            placeholder="Importe en dólares">
                    </div>
                </div>
                <div>
                    <br>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-lg-7">
                        <label for="notas">Notas</label>
                        <textarea class="form-control" id="notas" name="notas" rows="3"></textarea>
                    </div>
                </div>
                <div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="cotizacion">Número de cotización</label>
                            <input type="text" class="form-control" id="cotizacion" name="cotizacion"
                                placeholder="Número de cotización">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="entrega">Tipo de entrega</label>
                            <select class="form-control" id="entrega" name="entrega">
                                <option value="1">Entrega</option>
                                <option value="2">Entrega</option>
                                <option value="3">Entrega</option>
                                <option value="4">Entrega</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="clasif">Clasif. de entrega</label>
                            <select class="form-control" id="clasif" name="clasif">
                                <option value="1">Clasif</option>
                                <option value="2">Clasif</option>
                                <option value="3">Clasif</option>
                                <option value="4">Clasif</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="clasifacion">Clacif. venta</label>
                            <select class="form-control" id="clasifacion" name="clasifacion">
                                <option value="1">Clasif</option>
                                <option value="2">Clasif</option>
                                <option value="3">Clasif</option>
                                <option value="4">Clasif</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="segmento">Segmento</label>
                            <select class="form-control" id="segmento" name="segmento">
                                <option value="1">Segmento</option>
                                <option value="2">Segmento</option>
                                <option value="3">Segmento</option>
                                <option value="4">Segmento</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select class="form-control" id="estado" name="estado">
                                <option value="1">Estado</option>
                                <option value="2">Estado</option>
                                <option value="3">Estado</option>
                                <option value="4">Estado</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success" value="save" style="display: block; margin: 0 auto;">
                    Guardar</button>
            </div>
        </form>
    </div>
</div>
{%endblock content%}