{% extends "layouts/base.html" %} {% load static %}

{% block title %}Registro de ventas{% endblock title %}

{% block breadcrumb %}
<a href="{% url 'registro'%}" class="btn btn-success float-end">Agregar cliente</a>
<a href="" class="btn btn-warning float-end">Comisiones</a>
{% endblock breadcrumb %}


{% block content %}

<div class="card">
    <div class="card-body">
        <h4 class="text-center">REGISTRO DE VENTAS</h4>
        <div class="table-responsive py-4">
            <table class="table table-bordered table-striped text-center" id="datatable">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Clasificación</th>
                        <th>Cotización</th>
                        <th>Orden de compra</th>
                        <th>Fecha orden de compra</th>
                        <th>Monto USD</th>
                        <th>Monto MN</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{venta.id}}</td>
                        <td>{{ venta.venta.agente }}</td>
                        <td>{{ venta.venta.cliente }}</td>
                        <td>{{ venta.venta.segmento }}</td>
                        <td>{{ venta.venta.cotizacion }}</td>
                        <td>{{ venta.venta.orden_compra }}</td>
                        <td>{{ venta.venta.fecha_orden_compra }}</td>
                        <td>{{ venta.monto_USD }}</td>
                        <td>{{ venta.monto_MN }}</td>
                        <td>
                            <a href="{% url 'detalles' venta.venta_id %}" data-id="{{venta.venta.id}}" class="btn btn-success">Detalles</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

<script>
    const dataTable = new simpleDatatables.DataTable("#datatable", {
        //searchable: true,
        fixedHeight: true,
        sortable: false,
        
        labels: {
            placeholder: "Buscar...",
            perPage: "{select} registros por página",
            noRows: "No hay registros",
            info: "Mostrando {start} a {end} de {rows} registros",
        },
    });
</script>

{% endblock javascripts %}