{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Ventas - Registro{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div>
    <br>
    <a href="{% url 'registro'%}" class="btn btn-success" style="margin-left: 20px;">Agregar cliente</a>
</div>

<div class="table-responsive py-4">
    <div class="card">
        <div class="header">
            <br>
            <h6 class="text-center">REGISTRO DE VENTAS</h6>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped text-center" id="ventas_table">
                <thead>
                    <tr>
                        <th>Agente</th>
                        <th>Cliente</th>
                        <th>P.O.</th>
                        <th>No.cotización</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>User</td>
                        <td>People 1</td>
                        <td>P.O.-123</td>
                        <td>C-123</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-default btn-add" data-toggle="modal"
                                data-target="modal_add">
                                Detalles
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>People 2</td>
                        <td>P.O.-123</td>
                        <td>C-123</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-default btn-add" data-toggle="modal"
                                data-target="modal_add">
                                Detalles
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>People 3</td>
                        <td>P.O.-123</td>
                        <td>C-123</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-default btn-add" data-toggle="modal"
                                data-target="modal_add">
                                Detalles
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>People 4</td>
                        <td>P.O.-123</td>
                        <td>C-123</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-default btn-add" data-toggle="modal"
                                data-target="modal_add">
                                Detalles
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_add">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

        </div>
    </div>
</div>

{% endblock content %}


{% block javascripts %}
<script>
    const dataTable = new simpleDatatables.DataTable("#ventas_table", {
        //searchable: true,
        fixedHeight: false,
        labels: {
            placeholder: "Buscar nombre de la página",
            perPage: "Mostar {select} registros por página",
            noRows: "No hay registros por mostrar",
            info: "Mostrando {start} a {end} de {rows} registros (Pagina {page} de {pages} paginas)",
        },
    })
</script>
<script>
    $('.btn-add').on('click', function () {
        var id = $(this).data('id');
        $.ajax({
            url: "registro-ventas/detalle/" + id,
            type: "get",
            success: function (data) {

                $('#modal_add .modal-content').html(data);
                $('#modal_add').modal("show");
            },
        });
    });
</script>
{% endblock javascripts %}