{% extends "layouts/base.html" %} {% load static %}

{% block title %} Dashboard {% endblock %}


{% block breadcrumb %}
<a href="{% url 'registro'%}" class="btn btn-primary float-end">Agregar cliente</a>
{% endblock breadcrumb %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4 class="text-center">REGISTRO DE VENTAS</h4>
        <div class="table-responsive py-4">
            <table class="table table-bordered table-striped text-center" id="datatable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Clasificacion</th>
                        <th>Descripcion</th>
                        <th>#Cotizacion</th>
                        <th>OC</th>
                        <th>Fecha OC</th>
                        <th>Monto USD</th>
                        <th>Monto MN</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{venta.id}}</td>
                        <td>{{ venta.venta.agente }}</td>
                        <td>{{ venta.venta.cliente }}</td>
                        <td>{{ venta.venta.segmento }}</td>
                        <td>{{ venta.venta.descripcion }}</td>
                        <td>{{ venta.venta.cotizacion }}</td>
                        <td>{{ venta.venta.orden_compra }}</td>
                        <td>{{ venta.venta.fecha_orden_compra }}</td>
                        <td>{{ venta.monto_USD }}</td>
                        <td>{{ venta.monto_MN }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-details" data-toggle="modal"
                                data-target="modal-detail-ventas"
                                data-id="{{venta.venta_id}}">
                                Detalles
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="modal fade" id="modal-detail-ventas">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    const dataTable = new simpleDatatables.DataTable("#datatable", {
        //searchable: true,
        fixedHeight: true,
        sortable: false,
        labels: {
            placeholder: "Buscar",
            perPage: "Mostar {select} registros por pagina",
            noRows: "No hay registros por mostrar",
            info: "Mostrando {start} a {end} de {rows} registros (Pagina {page} de {pages} paginas)",
        },
    });
    $('.btn-details').on('click', function () {
        var id = $(this).data('id');
        $.ajax({
            url: "detalles/" + id,
            type: "get",
            success: function (data) {
                $('#modal-detail-ventas .modal-content').html(data);
                $('#modal-detail-ventas').modal("show");
            },
        });
    });
</script>

{% endblock javascripts %}