{% extends "layouts/base.html" %} {% load static %}

{% block title %}Pago orden de venta #<strong>{{venta.orden_compra}}</strong>{% endblock %}

{% block breadcrumb %}
<a href="{% url 'finanzas'%}" class="btn btn-primary float-end">Regresar</a>
{% endblock breadcrumb %}

{% block content %}
<div class="card border-0 shadow">
    <div class="card-header border-bottom d-flex align-items-center justify-content-between">
        <h2 class="fs-5 fw-bold mb-0">Agregar un pago</h2>
    </div>
    <form method="POST" action="{% url 'agregar_pago_factura' venta.id %}">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="card-body">
            {% for field in form %}
            <div class="form-group mt-2">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>

<div class="card border-0 shadow mt-4">
    <div class="card-header border-bottom d-flex align-items-center justify-content-between">
        <h2 class="fs-5 fw-bold mb-0">Historial de pagos</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" id="historial-pagos">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">#</th>
                        <th class="border-0">Fecha</th>
                        <th class="border-0">Factura</th>
                        <th class="border-0">Importe</th>
                        <th class="border-0">Tipo cambio MN</th>
                        <th class="border-0">Concepto</th>
                        <th class="border-0">Fecha Pago</th>
                        <th class="border-0 rounded-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pago in historial_pagos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ pago.fecha_factura }}</td>
                        <td>{{ pago.factura }}</td>
                        <td>${{ pago.importe_USD }}</td>
                        <td>${{ pago.tipo_cambio_factura }}</td>
                        <td>{{ pago.concepto }}</td>
                        <td><strong class="text-warning"><small>Preguntar</small></strong></td>
                        <td>
                            <a href="{% url 'generar_pdf' %}" class="btn btn-info">
                                <i class="icon icon-xxs me-2 fa fa-file-pdf"></i>
                                Descargar factura
                            <a href="{% url 'detalles' venta.id %}" class="btn btn-info">Detalles</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-6">
                <h4 class="fs-5 fw-bold mb-0">Total: ${{ venta.cotizacion }} USD</h4>
            </div>
            <div class="col-md-6">
                <h4 class="fs-5 fw-bold mb-0">Saldo: ${{ saldo_restante }} USD</h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    const dataTable = new simpleDatatables.DataTable("#historial-pagos", {
        searchable: true,
        fixedHeight: true,
        sortable: false,
        labels: {
            placeholder: "Buscar...",
            perPage: "{select} registros por página",
            noRows: "No hay registros",
            info: "Mostrando {start} a {end} de {rows} registros",
        },
    });
</script>
{% endblock javascripts %}
