{% extends "layouts/base.html" %} {% load static %}

{% block title %}Pago orden de venta #<strong>{{venta.orden_compra}}</strong>{% endblock %}

{% block breadcrumb %}
<a href="{% url 'finanzas'%}" class="btn btn-primary float-end">Regresar</a>
{% endblock breadcrumb %}

{% block content %}
<div class="card border-0 shadow mb-4" {% if saldo_restante <= 0 %} hidden {% endif %}>
    <div class="card-header border-bottom d-flex align-items-center justify-content-between">
        <h2 class="fs-5 fw-bold mb-0">Agregar un pago</h2>
    </div>
    <form method="POST" action="{% url 'agregar_pago_factura' venta.id %}">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="form-group">
                        {{ form.comision.label_tag }}
                        {{ form.comision }}
                        {% if form.comision.errors %}
                        <ul>
                            {% for error in form.comision.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-5 mb-4">
                    <div class="form-group">
                        {{ form.factura.label_tag }}
                        {{ form.factura }}
                        {% if form.factura.errors %}
                        <ul>
                            {% for error in form.factura.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.fecha_factura.label_tag }}
                        {{ form.fecha_factura }}
                        {% if form.fecha_factura.errors %}
                        <ul>
                            {% for error in form.fecha_factura.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="form-group">
                        {{ form.monto_USD.label_tag }}
                        {{ form.monto_USD }}
                        {% if form.monto_USD.errors %}
                        <ul>
                            {% for error in form.monto_USD.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="form-group">
                        {{ form.monto_MN.label_tag }}
                        {{ form.monto_MN }}
                        {% if form.monto_MN.errors %}
                        <ul>
                            {% for error in form.monto_MN.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.incentivo.label_tag }}
                        {{ form.incentivo }}
                        {% if form.incentivo.errors %}
                        <ul>
                            {% for error in form.incentivo.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.tipo_cambio_factura.label_tag }}
                        {{ form.tipo_cambio_factura }}
                        {% if form.tipo_cambio_factura.errors %}
                        <ul>
                            {% for error in form.tipo_cambio_factura.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.tipo_cambio_oc.label_tag }}
                        {{ form.tipo_cambio_oc }}
                        {% if form.tipo_cambio_oc.errors %}
                        <ul>
                            {% for error in form.tipo_cambio_oc.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.importe_USD.label_tag }}
                        {{ form.importe_USD }}
                        {% if form.importe_USD.errors %}
                        <ul>
                            {% for error in form.importe_USD.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.concepto.label_tag }}
                        {{ form.concepto }}
                        {% if form.concepto.errors %}
                        <ul>
                            {% for error in form.concepto.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>

<div class="card border-0 shadow">
    <div class="card-header border-bottom d-flex align-items-center justify-content-between">
        <h2 class="fs-5 fw-bold mb-0">Historial de pagos</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" id="historial-pagos">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">#</th>
                        <th class="border-0">Importe</th>
                        <th class="border-0">Tipo Cambio MN</th>
                        <th class="border-0">Concepto</th>
                        <th class="border-0">Fecha Pago</th>
                        <th class="border-0">Fecha Factura</th>
                        <th class="border-0 rounded-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pago in historial_pagos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>${{ pago.importe_USD }}</td>
                        <td>${{ pago.tipo_cambio_factura }}</td>
                        <td>{{ pago.concepto }}</td>
                        <td>{{ pago.fecha_pago }}</td>
                        <td {%if not pago.fecha_factura%}class="text-danger"{%endif%}>{{ pago.fecha_factura|default_if_none:"No se ha agregado factura" }}</td>
                        <td>
                            <a href="{% url 'ventas_detalles' pago.id %}" class="btn btn-info">Detalles</a>
                            {% if pago.factura %}
                            <a href="{{pago.factura}}" class="btn btn-info" target="_blank">
                                <i class="fas fa-eye mr-2"></i>
                                Ver Factura
                            </a>
                            {% else %}
                            <button type="button" class="btn btn-info btn-factura" data-url="{% url 'cargar_factura' pago.id %}">
                                <i class="fas fa-file-upload mr-2"></i>
                                Cargar Factura
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-6 mb-4">
                <h4 class="fs-5 fw-bold mb-0">Total: ${{ venta.cotizacion }} USD</h4>
            </div>
            <div class="col-md-6 mb-4">
                <h4 class="fs-5 fw-bold mb-0">Saldo restante: ${{ saldo_restante|default_if_none:venta.cotizacion }} USD</h4>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="cargar_factura">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    const dataTable = new simpleDatatables.DataTable("#historial-pagos", {
        searchable: true,
        fixedHeight: true,
        sortable: false,
        labels: {
            placeholder: "Buscar...",
            perPage: "{select} registros por página",
            noRows: "No hay registros",
            info: "Mostrando {start} a {end} de {rows} registros",
        },
    });
    
    $('.btn-factura').on('click',function(){
        let url = $(this).data('url');
        $.ajax({
            url: url,
            type: "get",
            success: function (data) {
                $('#cargar_factura .modal-content').html(data);
                $('#cargar_factura').modal("show");
            },
        });
    });
</script>
{% endblock javascripts %}
