{% extends "layouts/base.html" %} {% load static %}


{% block title %}Detalles{% endblock title %}


{% block breadcrumb %}

{% endblock breadcrumb %}

{% block content %}
<div class="card border-0 shadow">
    <div class="card-header border-bottom d-flex align-items-center justify-content-between">
        <h2 class="fs-5 fw-bold mb-0">Detalles del pago</h2>
    </div>
    <form method="POST" action="{% url 'ventas_detalles' id %}">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="form-group">
                        {{ form.comision.label_tag }}
                        {{ form.comision }}
                        {% if form.comision.errors %}
                        <ul>
                            {% for error in form.comision.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5 mb-4">
                    <div class="form-group">
                        {{ form.factura.label_tag }}
                        {{ form.factura }}
                        {% if form.factura.errors %}
                        <ul>
                            {% for error in form.factura.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.fecha_factura.label_tag }}
                        {{ form.fecha_factura }}
                        {% if form.fecha_factura.errors %}
                        <ul>
                            {% for error in form.fecha_factura.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="form-group">
                        {{ form.monto_USD.label_tag }}
                        {{ form.monto_USD }}
                        {% if form.monto_USD.errors %}
                        <ul>
                            {% for error in form.monto_USD.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="form-group">
                        {{ form.monto_MN.label_tag }}
                        {{ form.monto_MN }}
                        {% if form.monto_MN.errors %}
                        <ul>
                            {% for error in form.monto_MN.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.incentivo.label_tag }}
                        {{ form.incentivo }}
                        {% if form.incentivo.errors %}
                        <ul>
                            {% for error in form.incentivo.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.tipo_cambio_factura.label_tag }}
                        {{ form.tipo_cambio_factura }}
                        {% if form.tipo_cambio_factura.errors %}
                        <ul>
                            {% for error in form.tipo_cambio_factura.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.tipo_cambio_oc.label_tag }}
                        {{ form.tipo_cambio_oc }}
                        {% if form.tipo_cambio_oc.errors %}
                        <ul>
                            {% for error in form.tipo_cambio_oc.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.importe_USD.label_tag }}
                        {{ form.importe_USD }}
                        {% if form.importe_USD.errors %}
                        <ul>
                            {% for error in form.importe_USD.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-group">
                        {{ form.concepto.label_tag }}
                        {{ form.concepto }}
                        {% if form.concepto.errors %}
                        <ul>
                            {% for error in form.concepto.errors %}
                            <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button id="cancel-sales-details-edit" type="button" class="btn btn-danger" hidden>Cancelar</button>
            <button id="save-sales-details-edit" type="submit" class="btn btn-success" hidden>Guardar</button>
            <button id="edit-sales-details" type="button" class="btn btn-secondary">Editar</button>
        </div>
    </form>
</div>
{% endblock content %}
{% block javascripts %}
<script>
    function disabledForm() {
        $('#cancel-sales-details-edit').prop('hidden', true);
        $('#save-sales-details-edit').prop('hidden', true);
        $('#edit-sales-details').prop('hidden', false);
        $('#id_concepto').prop('disabled', true);
        $('#id_monto_USD').prop('disabled', true);
        $('#id_monto_MN').prop('disabled', true);
        $('#id_incentivo').prop('disabled', true);
        $('#id_tipo_cambio_factura').prop('disabled', true);
        $('#id_tipo_cambio_oc').prop('disabled', true);
        $('#id_importe_USD').prop('disabled', true);
    }
    $(document).ready(function () {
        disabledForm();
        $('#edit-sales-details').click(function () {
            $('#cancel-sales-details-edit').prop('hidden', false);
            $('#save-sales-details-edit').prop('hidden', false);
            $('#edit-sales-details').prop('hidden', true);
            $('#id_concepto').prop('disabled', false);
            $('#id_monto_USD').prop('disabled', false);
            $('#id_monto_MN').prop('disabled', false);
            $('#id_incentivo').prop('disabled', false);
            $('#id_tipo_cambio_factura').prop('disabled', false);
            $('#id_tipo_cambio_oc').prop('disabled', false);
            $('#id_importe_USD').prop('disabled', false);
        });
        $('#cancel-sales-details-edit').click(function () {
            disabledForm();
        });
    });
</script>

{% endblock javascripts %}