{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Dashboard {% endblock %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>Finanzas</h1>

<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive">
        <div class="col-md-2">
            <div class="form-group">
                <label for="Cliente">Cliente</label>
                <select class="form-control" id="cliente" name="cliente">
                    <option value="selectedDefault" selected disabled>Seleccione</option>
                    {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.RFC }}</option> 
                    {% endfor %}
                </select>
            </div>
        </div><br>
 

            <table class="table table-centered table-nowrap mb-0 rounded text-center" id="datatable">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">Fecha</th>
                        <th class="border-0">Orden de Compra</th>
                        <th class="border-0">Importe(USD20)</th>
                        <th class="border-0">Importe facturas</th>
                        <th class="border-0">Importe pagado</th>
                        <th class="border-0">Moneda</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <td class="text-primary fw-bold">19 de octubre</td>
                        <td>probando</td>
                        <td>probando</td>
                        <td>probando</td>
                        <td>probando</td>
                        <td>probando</td>
                     
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div><br>


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaE">Fecha Emision</label>
                    <input type="text" class="form-control" id="FechaE" name="FechaE" placeholder="Fecha">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="Factura">Factura</label>
                    <input type="text" class="form-control" id="Factura" name="Factura" placeholder="Factura">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="Importe">Importe</label>
                    <input type="text" class="form-control" id="Importe" name="Importe" placeholder="Importe">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Moneda">Moneda</label>
                    <input type="text" class="form-control" id="Moneda" name="Moneda" placeholder="Moneda">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaP">Fecha pago</label>
                    <input type="text" class="form-control" id="FechaP" name="FechaP" placeholder="Fecha pago">
                </div>
            </div>


        </div>

    </div>

</div>
<div class="row">
    <div class="form-group">
        <br>
        <button type="button" class="btn btn-primary disabled text-center">Aceptar</button>
        <button type="button" class="btn btn-primary disabled text-center">cancelar</button>
    </div>
</div>



{% endblock content %}


{% block javascripts %}{% endblock javascripts %}


