{% extends "layouts/base-fullscreen.html" %}

{% load static %}

{% block title %} Completado {% endblock %}


{% block stylesheets %}{% endblock stylesheets %}   

{% block content %}
<h4 class="mt-4 text-center">La contraseña se restablecio correctamente.</h4>

<div class="d-flex justify-content-center align-items-center mt-4">
    <span>
        <a href="{% url 'login' %}" class="text-bold text-info mt-4 w-100">Iniciar sesión</a>
    </span>
</div>



{% endblock content %}


{% block javascripts %}{% endblock javascripts %}