{% extends "layouts/base-fullscreen.html" %}

{% load static %}

{% block title %} Completado {% endblock %}


{% block stylesheets %}{% endblock stylesheets %}   

{% block content %}
<h4 class="mt-20">El correo ha sido enviado con exito.</h4>

<p class="mt-10">Le enviamos instrucciones por correo electrónico para configurar su contraseña.</p>
<p class="mt-50">Si no han llegado en unos minutos, revise su carpeta de correo no deseado.</p>

<div class="d-flex justify-content-center align-items-center mt-20">
    <span>
        <a href="{% url 'login' %}" class="text-bold text-info">
            <i class="fa fa-arrow-circle-left text-info"></i>
            Volver al inicio de sesión</a>
    </span>
</div>
{% endblock content %}


{% block javascripts %}{% endblock javascripts %}