{% extends "layouts/base-fullscreen.html" %}

{% load static %}

{% block title %} Restablecer contraseña {% endblock %}


{% block stylesheets %}{% endblock stylesheets %}   

{% block content %}
<h4 class="text-center text-md-center mb-4 mt-md-0">Restablecimiento de contraseña</h4>
{% if validlink %}

<form method="post" class="mt-4">
    {% csrf_token %}
    <!-- Nueva contraseña -->
    <div class="form-group mt-4">
        <label>Nueva contraseña</label>
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
        <ul>
            {% for error in form.new_password1.errors %}
            <li class="text-danger">{{ error|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!-- ./Nueva contraseña -->

    <!-- Confirmar nueva contraseña -->
    <div class="form-group mt-4">
        <label>Confirmar contraseña</label>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
        <ul>
            {% for error in form.new_password2.errors %}
            <li class="text-danger">{{ error|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!-- ./Confirmar nueva contraseña -->

    <button type="submit" name="login" class="btn-block btn btn-primary mt-4 w-100">Cambiar contraseña</button>
</form>

{% else %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        ENLACE INVALIDO. ESTE ENLACE YA HA SIDO UTILIZADO ANTERIORMENTE
    </div>
  </div>

<div class="d-flex justify-content-center align-items-center mt-20">
    <span>
        <a href="{% url 'login' %}" class="text-bold text-info">
            <i class="fa fa-arrow-circle-left text-info"></i>
            Volver al inicio de sesión</a>
    </span>
</div><br>

<!-- <div class="d-flex justify-content-center align-items-center mt-20">
    <span>
        <a href="{% url 'home' %}" class="text-bold text-info mt-20">
            <i class="fa fa-arrow-circle-left text-info"></i>
            Regresar al inicio
        </a>
    </span>
</div> -->
{% endif %}



{% endblock content %}


{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#id_new_password1').attr('placeholder', 'Nueva contraseña', 'class', 'form-control');
        $('#id_new_password1').attr('class', 'form-control');
        $('#id_new_password2').attr('placeholder', 'Confirmar contraseña', 'class', 'form-control');
        $('#id_new_password2').attr('class', 'form-control');
    });
</script>

{% endblock javascripts %}